@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Viaoda+Libre&display=swap");
:root {
  --hand-font: "Caveat", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.bg-red {
  background: #DA2032;
}

.bg-blue {
  background: #0A68B3;
}
.bg-blue.not-important {
  background: #AAB5BA;
  color: #454545;
}

.d-none {
  display: none !important;
}

a {
  transition: all 0.35s ease-in-out;
  color: darkblue;
}
a:hover {
  color: #DA2032;
}

.color-white {
  color: #fff;
}

.color-light-grey {
  color: #f2f2f2;
}

html {
  scroll-behavior: smooth;
}

a,
a:hover {
  text-decoration: none;
}

.overlay-hidden {
  overflow: hidden;
}

header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.35s ease-in-out;
}
header.fade-in {
  position: fixed;
  -webkit-animation: smoothScroll 1s forwards;
          animation: smoothScroll 1s forwards;
}

@-webkit-keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}
.bgr-header {
  background-color: #f2f2f2;
  background-image: url("./../images/gray-01.svg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.tophead {
  padding: 1rem 1rem 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.tophead .slogan {
  margin-right: auto;
  text-transform: uppercase;
  margin-left: 0.5rem;
}

.acount-user {
  padding: 0.25rem 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.acount-user svg {
  vertical-align: middle;
  margin-right: 4px;
}

header .logo {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
header .logo img {
  margin-bottom: -2px;
}

/***********************/
/* HAMBURGER MENU ANIMATION */
/***********************/
.hamburger-menu {
  cursor: pointer;
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
  width: 2.2rem;
  height: 0.1rem;
  background-color: #666;
  margin: 0.4rem 0;
  transition: 0.4s;
}

.menu-bar2 {
  width: 1.5rem;
  margin-left: auto;
}

/* ROTATE FIRST BAR */
.active .menu-bar1 {
  /* transform: rotate(-45deg) translate(-7px, 8px); */
  transform: rotate(-45deg) translate(-0.4rem, 0.35rem);
}

/* FADE OUT SECOND BAR */
.active .menu-bar2 {
  opacity: 0;
}

/* ROTATE LAST BAR */
.active .menu-bar3 {
  /* transform: rotate(45deg) translate(-6px, -8px); */
  transform: rotate(45deg) translate(-0.3rem, -0.35rem);
}

.sticky-menu ul {
  list-style: none;
  margin: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0A68B3;
}
.sticky-menu li a {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  transition: all 0.35s ease-in-out;
  color: #fff;
}
.sticky-menu li a.active {
  background: #DA2032;
  color: #fff;
}
.sticky-menu li a:hover {
  background: #fff;
  color: #DA2032;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  transform: translateX(-100vw);
  z-index: 100;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all ease-in-out 0.3s;
  align-items: center;
  width: 100vw;
}
.menu.active {
  transform: translateX(0);
  background-color: #fff;
}
.menu .sale {
  padding: 2rem;
  color: #454545;
  background: #e2e2e2;
  border-top: 1px solid #ddd;
}

.text-welcome {
  color: #666;
  text-transform: uppercase;
  padding: 1.5rem;
  background: #e2e2e2;
  text-align: center;
  margin: 0.5rem;
  margin-top: auto;
}

.menu ul {
  display: block;
  position: relative;
  background-color: #AAB5BA;
  margin-top: 115px;
  border: 0.5rem #fff solid;
  width: 100%;
  height: 100%;
  padding: 0rem 0 8rem;
}

.menu ul li {
  list-style: none;
}
.menu ul li .box-client span {
  color: #777;
}

.menu ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #454545;
  padding: 1rem 3rem;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  text-transform: uppercase;
}

.menu ul li a:hover {
  color: #03a9f4;
  background: #fff;
}

@media (max-width: 991px) {
  .showcase,
.showcase header {
    padding: 40px;
  }
  .text h2 {
    font-size: 3em;
  }
  .text h3 {
    font-size: 2em;
  }
}
.name-tour {
  background: rgb(14, 14, 14);
  background: linear-gradient(180deg, rgba(14, 14, 14, 0) 0%, rgb(14, 14, 14) 50%, rgb(14, 14, 14) 100%);
  color: #ffffff;
  font-size: 2rem;
  padding: 4rem 1rem 1rem !important;
  line-height: 1.3;
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto !important;
  top: auto !important;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.fix-btn {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.fix-btn a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  padding: 0.75rem 1rem;
  position: relative;
}
.fix-btn a::after {
  position: absolute;
  background-color: #fff;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.fix-btn a span {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.fix-btn a:first-child {
  background-color: rgba(3, 169, 244, 0.15);
  color: #03a9f4;
}
.fix-btn a:first-child:hover {
  background-color: rgba(3, 169, 244, 0.25);
}
.fix-btn a:last-child {
  background-color: rgba(218, 32, 50, 0.15);
  color: #DA2032;
}
.fix-btn a:last-child:hover {
  background-color: rgba(218, 32, 50, 0.25);
}

.box-client ul {
  margin-left: 1.5rem;
  margin-bottom: 1.5rem;
}
.box-client ul li::marker {
  color: #DA2032;
}

.price ul {
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}
.price ul li::marker {
  color: #03a9f4;
}

.btn {
  border: 0;
  padding: 0.5rem 1rem;
  line-height: 1;
  letter-spacing: 1;
  font-size: 80%;
  border-radius: 0.25rem;
}
.btn svg {
  margin-left: 8px;
}

.btn-primary {
  background: #0A68B3;
  color: #Fff;
  transition: all 0.35s ease-in-out;
}
.btn-primary:hover {
  background: #DA2032;
  color: #fff;
}

.info {
  margin-left: 1rem;
}
.info p {
  margin-bottom: 8px;
}

.ratio-banner {
  --bs-aspect-ratio: 125%;
}

.ratio-16x9 {
  --bs-aspect-ratio: 56.25%;
}

.ratio {
  position: relative;
}

.ratio > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ratio::before {
  display: block;
  padding-top: var(--bs-aspect-ratio);
  content: "";
}

.banner .img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.banner .img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.video-area {
  display: flex;
  gap: 1rem;
  padding: 0 1rem 2rem;
}
.video-area .ratio {
  max-width: 33.333%;
  flex-basis: 33.333%;
  background: #000;
  border-radius: 0.25rem;
  overflow: hidden;
}
.video-area .ratio:hover img {
  opacity: 1;
}
.video-area img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.video-area .play-icon {
  width: 40px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.fw-normal {
  font-weight: normal;
}

.footer {
  background: #AAB5BA;
  padding: 3rem 1rem;
  color: #424242;
}
.footer h3 {
  color: #242424;
}/*# sourceMappingURL=main.css.map */